<html lang="en">
  <head>
    <meta charset="UTF-8">
  </head>  
  <body style="background-color:powderblue;">
    <h1 style="color:purple;"><%= @game.player_1.name %> vs. <%= @game.player_2.name %> &#128512; </h1>
    <h2><%= @game.player_1.name %>: <%= @game.player_1.hit_points %>HP</h2>
    <img src="https://cutewallpaper.org/21/pictures-of-ash-and-pikachu/Ash-And-Pikachu-clipart-May-Clothing-Yellow-transparent-.jpg"
    width="400"
    height="500">
    <center>
    <h1><%= @game.current_turn.name %>'s turn</h1>
    <form action="/attack">
      <button style='width: 200px; height: 200px; font-size:50px;'>
      Attack
      </button>   
    </form>
     <form action="/random-damage">
      <button style='width: 200px; height: 200px; font-size:50px;'>
      Random Damage
      </button>   
    </form>
    </center> 
    
    <h2><%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP</h2>
    <img src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_727,c_fit/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F210226040722-01-pokemon-anniversary-design.jpg"
    width="600"
    height="500">
  




</html>